@import "./mixins/mixins.scss";
@include b(button-ellipsis){
  position: relative;
  min-height: 30px;
  //display: flex;
  //overflow: hidden;
  //align-items: center;
  text-align: center;
  @include e(button){
    display: inline-block;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }

  }
  @include e(number){
    //height: 30px;
    //line-height: 30px;
    //padding: 0 7px;
    //font-size: 12px;
    //display: inline-block;
    //background: #FFFFFF;
    //border-radius: 4px;
    //border: 1px solid #E1E3E6;
  }

}
