
@import "./mixins/mixins.scss";

@include b(card){
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #C8CACC;
  @include m(medium){

  }
  @include e(header){
    height: 144px;
    overflow: hidden;
    .el-image{
      width: 100%;
      height: 100%;
    }
  }
  @include e(content){
    background: #F8F9FA;
    padding: 12px 16px 16px 16px
  }
  @include e(title){
    font-weight: 400;
    font-size: 16px;
    color: #303133;
    //line-height: 24px;
    //height: 24px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include e(desc){
    padding-top: 8px;
    //height: 44px;
    text-align: left;
    font-size: 14px;
    color: #606266;
    //line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  @include e(footer){
    padding-top: 11px;
    display: flex;
    flex-direction: column;
  }
  @include e(action){
    margin-top: 8px;
    &:first-child{
      margin-top: 0;
    }

  }
  @include m(white){
    //height: 16px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #787D80;
    //line-height: 16px;
    text-align: center;
    padding:8px ;
  }
  @include m(small){
   &-container{
     padding: 16px;
     background: #ffffff;
   }
    &-title{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-shadow: 0px 0px 12px rgba(0, 52, 99, 0.16);
      color: #303233;
      font-weight: 500;
      height: 20px;
    }
    &-des{
      margin-top: 11px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-size: 14px;
      line-height: 22px;
      height:44px ;
      color: #303233;
      text-shadow: 0px 0px 12px rgba(0, 52, 99, 0.16);
    }
  }

}


@include b(plain-card){

  background: #FFFFFF;
  box-shadow: 0px 0px 9px 0px rgba(0, 52, 99, 0.16);
  border-radius: 8px;
  border: 1px solid #D4D7D9;
  overflow: hidden;
  @include e(des){
    height: 20px;
    line-height:20px;
    text-overflow:ellipsis ;
    overflow: hidden;
    white-space: nowrap;
  }
  @include e(container){
    font-size: 14px;
    padding: 10px 10px;
  }
  //@include e(content){
  //  margin-top: 5;
  //  height: 44px;
  //  line-height: 22px;
  //  color: #303233;;
  //  overflow: hidden;
  //
  //}

}
