@import "./mixins/mixins.scss";

@include b(checked-card){
   position: relative;
   border-radius: 8px;
   display: inline-block;
    @include when(border){
      border: 2px solid $primary-color;
    }
    @include when(disabled){

    }

}
@include b(icon) {
  position: absolute;
  font-size: 18px;
  right: -8px;
  top: -10px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  width: 18px;
  height: 18px;
  overflow: hidden;
  z-index: 5;
  &::before {
    color: #ffffff;
    //border-radius: 50%;
    //background: #ffffff;
    font-size: 16px;
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -8px;
    margin-right: -8px;
  }
  @include m(primary) {
    background: $primary-color;
  }
  @include m(success){
    background: $color-success;
  }
  @include m(danger){
    background: $color-danger;
  }
  @include m(warning){
    background:$color-warning;
  }
  @include m(info){
    background:$color-info;
  }

}
@include b(mask){
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: 1;
  @include m(primary){
    background: $primary-color;
  }
  @include m(disabled){
    cursor: not-allowed;
    background: #000000;
  }
  @include m(success){
    background: $color-success;
  }
  @include m(danger){
    background: $color-danger;
  }
  @include m(warning){
    background:$color-warning;
  }
  @include m(info){
    background:$color-info;
  }
}
