@import "./mixins/mixins.scss";
@include b(fold){
    //background:url("../../../assets/img/bg.png") no-repeat ;
    //background-position:95.5% 50%;
    //display: flex;
    //align-items: center;
    @include m(default){
      display: flex;
      align-items: center;
    }
    @include e(shadow){
      width: 12px;
      border-radius: 0  6px 6px 0;
      background: #F7F9FA;
      border: 1px solid #D4D7D9;
      border-left-width: 0;
      &::before{
        //content: "";
        //position: absolute;
        //transform: translate(0,-50%);
        //top:50% ;
        //height: 85%;
        //width: 12px;
        //left: 100%;
        //border-radius: 0  6px 6px 0;
        //background: #F7F9FA;
        //border: 1px solid #D4D7D9;
        //border-left-width: 0;
        //z-index: -1;
      }
    }
    @include m(primary){
        position: relative;
        display: flex;
    }
    @include e(item){

    }
}


