@import "./mixins/mixins.scss";

@include b(input){
  width: 100%;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  position: relative;
  @include e(inner){
    flex: 1;
    -webkit-appearance: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 32px;
    line-height: 32px;
    outline: none;
    padding: 0 8px 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
  }
  @include e(count){
    display: flex;
    align-items: center;
    padding-right: 12px;
    color: #A8AEB3;
  }
  @include m(isOver){
    color: red;
  }
  @include e(tip){
    font-size: 12px;
    color: #FF404F;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 12px;
  }
}


@include b(textarea){
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: 14px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  padding: 5px 12px;
  @include e(inner) {
    display: block;
    resize: none;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 0;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    &:focus {
      outline: none;
      border-color: #FFFFFF;
    }
  }
  @include e(textOver){
    color: #A8AEB3;
    float: right;
  }
  @include m(isOver){
    color: red;
  }


}










@include b(limit){
  position: relative;
  @include m(over) {
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    transition: all .3s;
    pointer-events: none;
    @include e(text){
      height: 100%;
      display: flex;
      align-items: center;
      color: #c0c4cc;
    }

  }
  @include e(count){
    display: flex;
    align-items: center;
  }
  @include m(isOver){
    color: red;
  }
  @include m(textOver) {
    color: #c0c4cc;
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .el-textarea__inner {
    padding: 5px 15px 20px;
  }







}
