@import "./mixins/mixins.scss";

@include b(limit){
  position: relative;
  @include m(over) {
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    transition: all .3s;
    pointer-events: none;
    @include e(text){
      height: 100%;
      display: flex;
      align-items: center;
      color: #c0c4cc;
    }

  }
  @include e(count){
    display: flex;
    align-items: center;
  }
  @include m(isOver){
    color: red;
  }
  @include m(textOver) {
    color: #c0c4cc;
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .el-textarea__inner {
    padding: 5px 15px 20px;
  }







}
