@import "./mixins/mixins.scss";

@for $i from 0 through 24 {
  .ml#{$i} {
    margin: $i+px;
  }
  .mt#{$i} {
    margin: $i+px;
  }
  .mb#{$i}{
    margin: $i+px;
  }
  .mr#{$i}{
    margin: $i+px;
  }
  .fz#{$i}{
    font-size:$i+px;
  }
}


