@import "./mixins/mixins.scss";

@for $i from 0 through 40 {
  .ml#{$i} {
    margin-left: $i+px;
  }
  .mt#{$i} {
    margin-top: $i+px;
  }
  .mb#{$i}{
    margin-bottom: $i+px;
  }
  .mr#{$i}{
    margin-right: $i+px;
  }
  .fz#{$i}{
    font-size:$i+px;
  }
  .pl#{$i} {
    padding-left: $i+px;
  }
  .pt#{$i} {
    padding-top: $i+px;
  }
  .pb#{$i}{
    padding-bottom: $i+px;
  }
  .pr#{$i}{
    padding-right: $i+px;
  }
}


