@import "./mixins/mixins.scss";

@include b(media){
  width: 100%;
  height: 100%;
  overflow: hidden;
  //border-radius: 8px 8px 0px 0px;
  position: relative;
  @include e(title){
    padding: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-overflow:ellipsis ;
    overflow: hidden;
    white-space: nowrap;
    color: #ffffff;
    font-size: 12px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  }

}





@include res('xs'){
  @for $i from 0 through 24 {
    .xm-col-xs-#{$i} {
      width: 100%/24*$i;
    }
    .xm-col-xs-offset-#{$i} {
      margin-left: 100%/24*$i;
    }
  }
}

@include res('sm'){
  @for $i from 0 through 24 {
    .xm-col-sm-#{$i} {
      width: 100%/24*$i;
    }
    .xm-col-sm-offset-#{$i} {
      margin-left: 100%/24*$i;
    }
  }
}


@include res('md'){
  @for $i from 0 through 24 {
    .xm-col-md-#{$i} {
      width: 100%/24*$i;
    }
    .xm-col-md-offset-#{$i} {
      margin-left: 100%/24*$i;
    }
  }
}

@include res('lg'){
  @for $i from 0 through 24 {
    .xm-col-lg-#{$i} {
      width: 100%/24*$i;
    }
    .xm-col-lg-offset-#{$i} {
      margin-left: 100%/24*$i;
    }
  }
}


@include res('xl'){
  @for $i from 0 through 24 {
    .xm-col-xl-#{$i} {
      width: 100%/24*$i;
    }
    .xm-col-xl-offset-#{$i} {
      margin-left: 100%/24*$i;
    }
  }
}
