@import "./mixins/mixins.scss";
@include b(media-box){
  background: #FFFFFF;
  box-shadow: 0px 2px 10px 0px rgba(0, 41, 77, 0.12);
  border-radius: 8px;
  overflow: hidden;
  @include e(top){
    display: flex;
    justify-content: space-between;
    padding: 12px 16px ;
  }
  @include e(title){
    width: 100%;
    text-overflow:ellipsis ;
    overflow: hidden;
    white-space: nowrap;
  }
  @include e(content){
    width: 100%;
    //height: 167px;
  }



}
