@import "./mixins/mixins.scss";
@include b(swiper){
   margin:0 auto;
   position: relative;
   @include e(totalBox){
     font-size: 12px;
     color:$tabs-color;
     text-align: center;
     margin-bottom:8px;
   }
   @include e(num){
     padding: 0 2px;
     color: $primary-color-light;
   }
   @include e(button){
     top: 50%;
     transform: translateY(-50%);
     width:40px;
     height:40px;
     background:rgba(230,239,255,1);
     border-radius:50%;
     text-align: center;
     line-height: 40px;
     font-size: 13px;
     color: $primary-color;
     opacity: 0;
   }
   .swiper-pagination{
     margin: 16px auto;
     position: static;
     opacity: 0;
   }
  .swiper-pagination-bullet{
    width:6px;
    height:6px;
    background: #D8E1E6;
    border-radius:50%;
    margin-right: 8px;
  }
  .swiper-pagination-bullet-active{
    background:#787D80;
  }
  .xm-show{
    opacity: 1!important;
  }


}
