@import "./mixins/mixins.scss";

@include b(tag) {
  display: inline-block;
  padding: 7px 15px;
  //font-size: 0;
  //line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  outline: 0;
  line-height: 1;
  color: #3f536e;
  position: relative;
  cursor: pointer;
  background-color: #f7f7f7;
  &:hover {
    @include b(icon) {
      opacity: 1;
    }
  }
  @include e(desc) {
    font-size: 12px;
  }
  @include m(default) {
    background: #E6EEF5;
    color: $color-grey;
    border: 1px solid $color-grey-light;
  }
  @include m(success){
    background:$color-success-light;
    color: $color-grey-light;

  }
  @include m(danger){
    background:$color-danger-light;
    color: $color-grey-light;

  }
  @include m(warning){
    background:$color-warning-light;
    color: $color-grey-light;
  }
  @include m(info){
    background:$color-info-light;
    color: $color-grey-light;
  }
  @include m(primary){
    background:$color-primary-light;
    color: $color-grey-light;
  }


  @include b(icon) {
    color: #ffffff;
    position: absolute;
    font-size: 12px;
    right: -8px;
    top: -8px;
    opacity: 0;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    opacity: 0;
    &::before {
      position: absolute;
      right: 50%;
      top: 50%;
      margin-top: -6px;
      margin-right: -6px;
    }
    @include m(primary) {
      background: $primary-color;
    }
    @include m(success){
      background: $color-success;
    }
    @include m(danger){
      background: $color-danger;
    }
    @include m(warning){
      background:$color-warning;
    }
    @include m(info){
      background:$color-info;
    }

  }
}
