$primary-color:#409EFF;
$primary-color-light:#66b1ff;
$primary-color-dark:#3a8ee6;

// 按钮的常规边框颜色
$border-color-gray:#dcdfe6;

$color-primary:#409EFF;
$color-primary-light:#66b1ff;
$color-primary-dark:#3a8ee6;



$color-success:#67c23a;
$color-success-light:#85ce61;
$color-success-dark:#67c23a;


$color-info:#909399;
$color-info-light:#a6a9ad;
$color-info-dark:#82848a;


$color-warning:#e6a23c;
$color-warning-light:#ebb563;
$color-warning-dark:#cf9236;

$color-danger:#f56c6c;
$color-danger-light:#f78989;
$color-danger-dark:#dd6161;


$color-grey:#787C80;
$color-grey-light:#E6EEF5;
$color-grey-dark:#3f536e;


// Animation
$transition-time : .2s;
$animation-time : .3s;

/**
tag
 */
$color-blue:#EBF6FF;
$color-blue-dark:#000000;
$color-blue-light:#C8C9CC;

$color-plain:#FFFFFF;
$color-plain-color:#000000;
$color-plain-border:#C8C9CC;

$tag-border-color:#3199F5;

/**
tabs
 */
$tabs-bg: #EBF6FF;
$tabs-color:#707A80;


/**
font/
 */

$font-size:14px;

$font-family: PingFangSC-Regular, PingFang SC;

/**
template
 */
$border-color--grey:#EDEFF0;
$border-color--primary:#3199F5;


/**
/chat
 */

$bubble-left-border-radius:8px;
$bubble-left-bg:#D4D7D9;
$chat-bg:#FAFBFC;
$chat-container-border:#D4D7D9;
$chat-time-color:#909599;
$chat-time-font-size:12px;
$bubble-right-bg:#D6ECFF;


/**
card
 */
$card-title-color:#303233;

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);
